# Django settings
DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173
DJANGO_FRONTEND_URL=http://localhost:5173/
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173

# Database (SQLite by default)
DATABASE_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
